@import "./src/styles/themes";

header {
  width: 100%;
  display: flex;
  justify-content: center;

  .container {
    width: 100%;
    max-width: 900px;
    padding: $paddings;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo {
      font-size: 20px;
      font-weight: bold;
      user-select: none;
    }

    select {
      padding: 5px;
      outline: none;
      border-radius: 4px;
      user-select: none;
    }
  }

  &.light {
    background: $lightBackground;

    .container {
      select {
        border: 2px solid $lightLines;
      }
    }
  }

  &.dark {
    background: $darkBackground;

    .container {
      .logo {
        color: white;
      }

      select {
        background: $darkLines;
        border: 2px solid $darkLines;
        color: white;
      }
    }
  }
}