@import "./src/styles/themes";

.layout {
  display: flex;
  flex-direction: column;
  align-items: center;

  .content {
    $radius: 12px;
    min-height: calc(100vh - 49px);
    width: 100%;
    max-width: 900px;
    border-radius: $radius $radius 0 0;
  }

  &.light {
    background: $lightBackground;
    .content {
      outline: 2px solid $lightLines;
    }
  }

  &.dark {
    background: $darkBackground;
    .content {
      outline: 2px solid $darkLines;
    }
  }
}